body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}

.main {
    flex: 1;
}

h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

footer {
    text-align: right;
    color: blueviolet;
}

.logo {
    width: 10%;
    margin: 0px;
    padding: 0px;
}

.tile-image {
    height: 200px;
    float: left;
    margin-right: 30px;
}

.card {
    width: 45%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.creative {
    color: midnightblue;
}

@media (max-width: 680px) {
    .logo {
      width: 100px;
    }
  
    h1 {
      font-size: 3.5rem;
      text-align: center;
    }
  
    .card {
      width: 100%;
      display: block;
      margin-bottom: 30px;
      text-align: justify;
    }
  
    .card img {
      margin-bottom: 10px;
      width: 100%;
      display: inline;
      object-fit: cover;
    }
  }
